@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@font-face {
    font-family: Montserrat;
    src: url(../assets/fonts/Montserrat/Montserrat-VariableFont_wght.ttf);
}

* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

:root {
    --cor-preto: #0A0A0A;
    --cor-branco: #F2F2F2;
    --cor-cinza: #E8E8E8;
    --cor-cinza-escuro: #605E5E;
    --cor-vermelho: #CE032A;
    --cor-vermelho-escuro: #C20529;
    --cor-dourado: #CF9629;

    --font-sans-serif-01: "Montserrat", sans-serif;
    --font-serifada-01: "PT Serif";
}

a {
    color: var(--cor-preto);
    text-decoration: none;
}

.pagina-selecionada {
    color: var(--cor-vermelho);
    border-bottom: 3px solid;
}

header {
    width: 100%;
    height: 105px;
    background: var(--cor-branco);
    box-shadow: 0px -20px 50px 0px rgba(24, 2, 2, 0.06) inset;
    display: flex;
    align-items: center;
    justify-content: center;
}

header>picture {
    display: flex;
    justify-content: end;
    align-items: center;
    width: 15%;
}

header>nav {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: flex-start;
}

header>nav>a {
    transition: 0.18s;
    display: flex;
    padding: 3px 5px 2px 5px;
    justify-content: center;
    align-items: center;
}

header>nav>a:hover {
    color: var(--cor-vermelho);
    border-bottom: 3px solid var(--cor-vermelho);
}

header>nav>a:active {
    color: var(--cor-vermelho-escuro);
    border-bottom: 3px solid var(--cor-vermelho-escuro);
}

.transicao-olivas {
    width: 100%;
    padding-bottom: 5%;
}

main {
    width: 100%;
    height: fit-content;
}

main>section.header {
    display: flex;
    /* width: 100%; */
    padding: 4px;
    justify-content: center;
    align-items: center;
    background: var(--cor-vermelho);
    box-shadow: 0px 15.203px 45.34px 0px rgba(0, 0, 0, 0.40);
}

main>section.header>p {
    display: flex;
    color: var(--cor-branco);
    text-align: center;
    font-size: 22px;
}

main>section.principal {
    display: flex;
    width: 100%;
    height: 100vh;
}

main>section.principal>div.destaque {
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: space-between;
    margin-left: 5%;
}

main>section.principal>div.destaque>article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

main>section.principal>div.destaque>article>h1 {
    color: var(--cor-vermelho-escuro);
    font-family: var(--font-serifada-01);
    font-size: 80px;
    text-align: center;
}

main>section.principal>div.destaque>article>p {
    color: var(--cor-preto);
    font-size: 30px;
    font-family: var(--font-sans-serif-01);
    text-align: center;
    text-shadow: 0px 4px 5.7px rgba(0, 0, 0, 0.25);
}

.botao-link {
    width: fit-content;
    height: fit-content;
    border-radius: 99px;
    background: var(--cor-vermelho-escuro);
    font-size: 40px;
    font-weight: 700;
    border: none;
}

.botao-link:hover {
    background: #dd0b35;
    cursor: pointer;
}

.botao-link:active {
    background-color: #ec1842;
}

.link-borda {
    border: var(--cor-branco) solid 2px;
    border-radius: 99px;
    margin: 10px;
    padding: 10px 20px;
}

.link-botao {
    color: var(--cor-branco);
    text-align: center;
    font-family: var(--font-serifada-01);
}

main>section.principal>div.destaque>img {
    width: 730px;
    height: 650px;
}

/*SECTION PRATOS*/
main>section.pratos {
    padding-top: 50px;
    padding-bottom: 170px;
}

section.pratos>.pratos-populares {
    width: 608px;
    margin: auto;
}

section.pratos>.pratos-populares>p {
    color: var(--cor-dourado);
    text-align: center;
    font-family: Montserrat;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    text-align: left;
}

section.pratos>.pratos-populares>h2 {
    color: var(--cor-preto);
    text-align: center;
    font-family: "PT Serif";
    font-size: 81.304px;
    font-style: normal;
    font-weight: 400;
    line-height: 79px;
    width: fit-content;
}

/*CARROSSEL ESQUERDA ABAIXO*/
.carrossel-pizzas>.carrossel-esquerda>.item>.descriçao-carrossel>h3 {
    color: var(--cor-vermelho-escuro);
    font-family: var(--font-serifada-01);
    font-size: 25.396px;
    font-style: normal;
    font-weight: 700;
    line-height: 33.642px; /* 132.468% */
    width: max-content;
}

.carrossel-pizzas>.carrossel-esquerda>.item>img {
    border-radius: 12px;
}


.carrossel-pizzas>.carrossel-esquerda>.item {
    display: flex;
    align-items: center; /* Centraliza verticalmente */
    gap: 20px; /* Espaço entre a imagem e o texto */
    padding: 10px 15px;
    max-width: 600px;
    margin: 20px;
}

.carrossel-pizzas>.carrossel-esquerda>.item>.descriçao-carrossel>p {
    display: flex;
    width: 161.556px;
    height: 56.416px;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;

    color: var(--color-black-solid, #000);
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 23.079px; /* 144.247% */
}

.carrossel-pizzas>.carrossel-esquerda>.item>.descriçao-carrossel {
    display: flex;
    flex-direction: column; /* Empilha o título e parágrafo verticalmente */
    justify-content: center; /* Centraliza verticalmente dentro do espaço disponível */
    gap: 5px; /* Espaço entre o título e a descrição */
    flex: 1; /* Faz a div ocupar o espaço restante */
}

/*CARROSSEL DIREITA ABAIXO*/
.carrossel-pizzas>.carrossel-direita>.item>.descriçao-carrossel>h3 {
    color: var(--cor-vermelho-escuro);
    font-family: var(--font-serifada-01);
    font-size: 25.396px;
    font-style: normal;
    font-weight: 700;
    line-height: 33.642px; /* 132.468% */
    width: max-content;
}

.carrossel-pizzas>.carrossel-direita>.item>img {
    border-radius: 12px;
}

.carrossel-pizzas>.carrossel-direita>.item {
    display: flex;
    align-items: center; /* Centraliza verticalmente */
    gap: 20px; /* Espaço entre a imagem e o texto */
    padding: 10px 15px;
    max-width: 600px;
    margin: 20px;
}

.carrossel-pizzas>.carrossel-direita>.item>.descriçao-carrossel>p {
    display: flex;
    width: 161.556px;
    height: 56.416px;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;

    color: var(--color-black-solid, #000);
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 23.079px; /* 144.247% */
}

.carrossel-pizzas>.carrossel-direita>.item>.descriçao-carrossel {
    display: flex;
    flex-direction: column; /* Empilha o título e parágrafo verticalmente */
    justify-content: center; /* Centraliza verticalmente dentro do espaço disponível */
    gap: 5px; /* Espaço entre o título e a descrição */
    flex: 1; /* Faz a div ocupar o espaço restante */
}

/*FUNCIONAMENTO DO CARROSSEL ESQUERDO ABAIXO*/
.carrossel-pizzas>.carrossel-esquerda {
    width: 90%;
    max-width: 1700px;
    margin-inline: auto;
    position: relative;
    height: 210px;
    margin-top: 5rem;
    overflow: hidden;
    mask-image: linear-gradient(
        to right,
        rgba(0,0,0,0),
        rgba(0,0,0,1) 10%,
        rgba(0,0,0,1) 90%,
        rgba(0,0,0,0)
    );
}

@keyframes scrollEsquerda {
    to {
        left: -518.55px;
    }
}

.carrossel-esquerda>.item {
    position: absolute;
    left: calc(200px * 8);
    animation-name: scrollEsquerda;
    animation-duration: 30s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

.esq-1 {
    animation-delay: calc(30s / 4 * (4 - 1) * -1);
}

.esq-2 {
    animation-delay: calc(30s / 4 * (4 - 2) * -1); 
}

.esq-3 {
    animation-delay: calc(30s / 4 * (4 - 3) * -1); 
}

.esq-4 {
    animation-delay: calc(30s / 4 * (4 - 4) * -1); 
}

/*FUNCIONAMENTO DO CARROSSEL DIREITA ABAIXO*/
.carrossel-pizzas>.carrossel-direita {
    width: 90%;
    max-width: 1700px;
    margin-inline: auto;
    position: relative;
    height: 210px;
    margin-top: 5rem;
    overflow: hidden;
    mask-image: linear-gradient(
        to right,
        rgba(0,0,0,0),
        rgba(0,0,0,1) 10%,
        rgba(0,0,0,1) 90%,
        rgba(0,0,0,0)
    );
}

@keyframes scrollDireita {
    to {
        right: -518.55px;
    }
}

.carrossel-direita>.item {
    position: absolute;
    right: calc(200px * 8);
    animation-name: scrollDireita;
    animation-duration: 30s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

.dir-1 {
    animation-delay: calc(30s / 4 * (4 - 1) * -1);
}

.dir-2 {
    animation-delay: calc(30s / 4 * (4 - 2) * -1); 
}

.dir-3 {
    animation-delay: calc(30s / 4 * (4 - 3) * -1); 
}

.dir-4 {
    animation-delay: calc(30s / 4 * (4 - 4) * -1); 
}




main>section.info {
    width: 100%;
    display: flex;
    flex-direction: column;
}

main>section.info>div {
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin: 50px 0px;
}

main>section.info>div>article {
    width: 800px;
    height: 500px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    justify-content: center;
    align-items: center;
}

main>section.info>div>article>h2 {
    display: flex;
    color: var(--cor-preto);
    text-align: center;
    font-family: var(--font-serifada-01);
    font-size: 84px;
}

main>section.info>div>article>p {
    color: var(--cor-preto);
    text-align: center;
    font-family: var(--font-sans-serif-01);
    font-size: 22px;
}

main>section.eventos {
    display: flex;
    width: 100%;
    /* padding: 40px; */
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-bottom: 50px;
}

.container-eventos {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.container-eventos>article {
    display: flex;
    width: 100%;
    margin-left: 50px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.container-eventos>article>h2 {
    color: var(--cor-preto);
    text-align: center;
    font-family: var(--font-serifada-01);
    font-size: 70px;
    font-weight: 400;
}

.container-eventos>article>p {
    color: var(--cor-preto);
    text-align: center;
    font-family: var(--font-sans-serif-01);
    margin: 0px 100px;
    margin-bottom: 15px;
}

.container-botoes {
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
}

.picture-01 {
    width: 100%;
    margin-right: 50px;
}

.picture-02 {
    display: flex;
    width: 100%;
    /* height: 570px; */
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-left: 50px;
}

.picture-02>div {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: end;
    gap: 10px;
    width: 400px;
}

.picture-03 {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-right: 50px;
}

.picture-03>div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 10px;
    width: 400px;
}

.foto-01 {
    width: 100%;
}

.foto-02 {
    width: 350px;
    height: 200px;
}

.foto-03 {
    width: 350px;
    height: 200px;
}

.foto-04 {
    width: 300px;
    height: 410px;
    object-fit: cover;
    border-radius: 10px;
}

.foto-05 {
    width: 300px;
    height: 410px;
    object-fit: cover;
    border-radius: 10px;
}

.foto-06 {
    width: 350px;
    height: 200px;
}

.foto-07 {
    width: 350px;
    height: 200px;
}

footer {
    width: 100%;
    height: 498px;
    background: #E8E8E8;
    box-shadow: 0px 0px 170px 0px rgba(0, 0, 0, 0.10) inset;
    height: fit-content;
}

.grid-container {
    display: grid;

    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(5, 1fr);

    gap: 20px;
    height: 70%;

    padding-left: 50px;
    padding-top: 50px;
    padding-right: 50px;
}

.logo {
    grid-row-start: 1;
    grid-column-start: 1;

    grid-row-end: 3;
    grid-column-end: 3;
    height: fit-content;
}

.logo>img {
    width: 100%;
}

.cascavel {
    grid-row-start: 1;
    grid-column-start: 4;

    grid-row-end: 3;
    grid-column-end: 5;
}

.foz-do-iguacu {
    grid-row-start: 1;
    grid-column-start: 5;

    grid-row-end: 3;
    grid-column-end: 6;
}

footer>.grid-container>div.cascavel {
    width: 318px;
    flex-shrink: 0;
    height: fit-content;
    margin-top: 30px;
    margin-right: 40px;
}

footer>.grid-container>div.cascavel>h3 {
    display: flex;
    width: 123px;
    height: 17px;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    color: #605E5E;
    font-family: var(--font-sans-serif-01);
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 14px;
    /* 70% */
    padding-bottom: 18px;
}

footer>.grid-container>div.cascavel>p {
    color: #605E5E;
    font-family: var(--font-sans-serif-01);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 21px;
    /* 131.25% */
}

footer>.grid-container>div.foz-do-iguacu {
    width: 300px;
    flex-shrink: 0;
    height: fit-content;
    margin-top: 30px;
    margin-right: 40px
}

footer>.grid-container>div.foz-do-iguacu>h3 {
    color: var(--color-grey-37, #605E5E);
    font-family: var(--font-sans-serif-01);
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 14px;
    /* 70% */
    padding-bottom: 18px;
}

footer>.grid-container>div.foz-do-iguacu>p {
    color: var(--color-grey-37, #605E5E);
    font-family: var(--font-sans-serif-01);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 21px;
    /* 131.25% */
}

footer>.grid-container>div.sobre {
    color: var(--color-grey-37, #605E5E);
    font-family: var(--font-sans-serif-01);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 21px;
    text-align: center;
    margin-top: 40px;
    grid-row-start: 3;
    grid-column-start: 1;

    grid-row-end: 4;
    grid-column-end: 7;

    height: fit-content;
}

footer>.grid-container>div.sobre>p {
    margin: 5px 0;
}

footer>.grid-container>div.sobre>a {
    text-decoration: underline;
    color: var(--color-grey-37, #605E5E);
    font-family: var(--font-sans-serif-01);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 21px;
}

.redes-sociais {
    height: fit-content;
    grid-row-start: 1;
    grid-column-start: 6;

    grid-row-end: 3;
    grid-column-end: 7;
}

.redes-sociais img {
    width: 40px;
    margin: 0 10px;
    transition: transform 0.3s ease;
}

.redes-sociais img:hover {
    transform: scale(1.2);
    transition: all .3s ease-in-out;
}

.vl {
    border-left: 2px solid var(--cor-cinza-escuro);
    height: 100%;
    width: 1px;
    margin-left: 50px;

    grid-row-start: 1;
    grid-column-start: 3;

    grid-row-end: 3;
    grid-column-end: 4;
}

/* RESPONSIVIDADE PARA TABLETS */

@media screen and (max-width: 700px) {
    main>section.principal {
        height: auto;
    }

    main>section.principal>div.destaque {
        width: 100%;
        margin: 20px 50px;
        display: flex;
        justify-content: center;
    }

    main>section.principal>div.destaque>img {
        display: none;
    }

    main>section.principal>div.destaque>article>h1 {
        font-size: 60px;
    }

    .container-transicao {
        width: 100%;
    }

    .transicao-olivas {
        width: 1000px;
        object-fit: cover;
        object-position: 100% 0;
    }

    main>section.info>div>im {

    }

    section.pratos>.pratos-populares {
        margin: 0px 30px;
    }

    main>section.info>div>article {
        width: 50%;
    }

    main>section.info>div>article {
        width: 50%;
    }

    main>section.info>div>article>h2 {
        font-size: 50px;
    }
}